<ul class="breadcrumbs">
  <li><%= link_to "Websites", :controller => "websites", :action => "index" %></li>
</ul>
<hgroup>
  <h1><%= @website.name %></h1>
  <h2 class="domain"><%= @website.domain %></h2>
  <%= link_to raw('<i class="icon-pencil"></i> Edit'), edit_website_path(@website), :class => "button" %>
  <%= link_to raw('<i class="icon-remove"></i> Delete'), @website, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %>
</hgroup>

<section id="achievements_list">
<%= render :partial => "achievement_list", :locals => { :achievements => Achievement.find(:all, :conditions => { :website_id => @website.id }) } %>
</section>
<section id="trackers_list">
<%= render :partial => "tracker_list", :locals => { :trackers => Tracker.find(:all, :conditions => { :website_id => @website.id }) } %>
</section>