<h1>Edit the &ldquo;<%= @achievement.name %>&rdquo; Achievement</h1>
<% if @achievement.website_id %>
<p>For <%= link_to @achievement.website.name, @achievement.website %></p>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @achievement, :class => "button" %>
<%= link_to 'Back', achievements_path, :class => "button" %>
