<ul class="breadcrumbs">
  <li><%= link_to "Websites", :controller => "websites", :action => "index" %></li>
  <li><%= link_to @achievement.website.name, :controller => "websites", :action => "show", :id => @achievement.website.id %></li>
</ul>
<h1><%= @achievement.name %></h1>

<%= link_to raw('<i class="icon-pencil"></i> Edit'), edit_achievement_path(@achievement), :class => "button" %>
<%= link_to raw('<i class="icon-remove"></i> Delete'), @achievement, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %>

<section class="description">
  <%= simple_format(@achievement.description) %>
</section>

<% if (@achievement.website.owner == current_user.id) && (!@achievement.notes.empty?) %>
<section class="notes">
  <h1>Notes</h1>
  <%= simple_format(@achievement.notes) %>
</section>
<% end %>

<% if @awards.empty? %>
<section class="awarded_to">
<h1>Awarded To</h1>
<p><em>No one has earned this achievement yet.</em></p>
</section>
<% else %>
<section class="awarded_to">
<h1>Awarded To</h1>
<ul>
<% @awards.each do |award| %>
<li><%= link_to award.to, "/websites/" + @achievement.website_id.to_s + "/" + award.to %> <span class="delete"><%= link_to raw('<i class="icon-remove"></i>'), "/achievements/" + @achievement.id.to_s + "/award/" + award.to + "/delete", data: { confirm: 'Are you sure?' }, :class => "remove" %></span></li>
<% end %> 
</ul>
</section>
<% end %>

<section class="award_form">
  <p>Award this achievement to users manually by entering them here. Award to multiple users at once by entering a comma-separated list.</p>
  <% if @achievement.website.owner == current_user.id %>
    <%= form_tag :controller => "achievements", :action => "award", :method => "get" do %>
      <%= text_field_tag :to, '', :class => "award_to" %>
      <%= hidden_field_tag :achievement_id, @achievement.id %>
      <%= submit_tag "Award" %>
    <% end %>
  <% end %>
</section>

<section class="triggers">
  <h1>Triggers</h1>
  <p>You can <%= link_to "create trackers for \"" + @achievement.website.name + "\"", { :controller => "trackers", :action => "new", :website => @achievement.website } %> to keep track of user activity on your site. Then, you can attach triggers to your trackers to award achievements to users who pass a threshold that you define &mdash; or take away achievements under similar conditions.</p>
  <% if !@triggers_award.empty? %>
  <p><em>The following triggers award this achievement:</em></p>
  <table>
    <thead>
      <tr>
        <th>Tracker</th>
        <th>Threshold</th>
      </tr>
    </thead>
    <tbody>
      <% @triggers_award.each do |trigger| %>
      <td><%= link_to trigger.tracker.name, trigger.tracker %></td>
      <td><%= trigger.threshold %></td>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <% if !@triggers_unaward.empty? %>
  <p><em>The following triggers take this achievement away:</em></p>
  <table>
    <thead>
      <tr>
        <th>Tracker</th>
        <th>Threshold</th>
      </tr>
    </thead>
    <tbody>
      <% @triggers_unaward.each do |trigger| %>
      <td><%= link_to trigger.tracker.name, trigger.tracker %></td>
      <td><%= trigger.threshold %></td>
      <% end %>
    </tbody>
  </table>
  <% end %>
</section>
